@import url('https://fonts.googleapis.com/css?family=Dosis|Roboto');

body {
	margin: 16px;
	padding-top: 50px;
	font-family: 'Dosis', sans-serif;
	color: #535353;
}

h1 {
	font-family: 'Roboto', sans-serif;
	font-size: 50px;
	font-weight: normal;
	text-align: center;
	margin-bottom: 0;
}

div {
	font-size: 25px;
	text-align: center;
}

span {
	font-family: 'Roboto', sans-serif;
}

span > a {
	text-decoration: none;
	color: #535353;
}

span > a:hover {
	text-decoration: underline;
}

i {
	font-style: normal;
}

@media only screen and (max-width: 768px) {

	h1 {
		font-size:30px;
	}

	div {
		font-size: 18px;
	}

	i {
		display: block;
	}

	span {
		font-size: 15px;
	}

}