body{
	font-family: Menlo, Consolas, 'DejaVu Sans Mono', monospace;
	background-color: #282C34;
	color: #abb2bf;
	margin:0;
	padding-top:  13px;
}

.tab{
	background-color: #282C34;
	text-align: center;
	max-width: 175px;
	min-width: 40px;
	list-style: none;
	padding: 15px 40px 10px 40px;
	margin-top:-15px;
	box-shadow: 1px 0px 0px #181a1f;
}

.tab:hover span.float_x{
	display: block;
}

ul.tab-bar{
	background-color: #21252b;
	padding: 0;
	margin: 0;
	font-size: 13px;
	box-shadow:inset 0 -1px 0 #181a1f;
}

.editor{
	font-size: 14px;
	line-height: 1.5;
	overflow: auto;
}

.editor:hover{
	cursor: text;
}

.line_num{
	color: rgba(171, 178, 191,0.4)!important;
	width: 37px;
	padding-right: 17px;
	margin-left: -13px!important;
	float: left;
	clear: left;
	text-align: right;
	height: 100%!important;
	
}

.line{
	float: left;
	height: 100%;
}

.tag-color{
	color: #e06c75;
}

.attr-color{
	color: #d19a66;
}

.attr-value-color{
	color: #98c379;
}
.comment{
	color: #5c6370;
    font-style: italic;
}

.div_er{
	min-width: 1150px;
}

a{
	color: #abb2bf;
	text-decoration: none;
}

.float_x{
	display: none;
	position: absolute;
	top: 15px;
	left: 230px;
	color: #fff;
	width: 15px;
	height: 15px;
	border-radius: 3px;
}

.float_x:hover{
	background-color: #568af2;
}