@import url("https://fonts.googleapis.com/css?family=Muli");
@import url('https://fonts.googleapis.com/css?family=Great+Vibes');
@import url('https://fonts.googleapis.com/css?family=Play');

body{
	font-family: 'Muli', Helvetica, sans-serif;

  /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#ffffff+0,ffffff+0,ffffff+19,ffffff+49,fa91a2+95 */
background: #ffffff; /* Old browsers */
background: -moz-linear-gradient(-45deg, #ffffff 0%, #ffffff 0%, #ffffff 19%, #ffffff 49%, #fa91a2 95%); /* FF3.6-15 */
background: -webkit-linear-gradient(-45deg, #ffffff 0%,#ffffff 0%,#ffffff 19%,#ffffff 49%,#fa91a2 95%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(135deg, #ffffff 0%,#ffffff 0%,#ffffff 19%,#ffffff 49%,#fa91a2 95%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#fa91a2',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
}


.title_font{
  font-family: 'Great Vibes', cursive;
  font-size: 44px;
}
.small_title_font{
  font-family:'Play', sans-serif;
  font-size: 15px;
  margin-top: -20px!important;

}

._small_title_font{
  font-family:'Play', sans-serif;
  

}

.top-bar{
	background-color: #fa91a2;
	color: #fff;
	font-weight: bolder;
}

.primary-text-color{
  color: #ff0066;
}

.primary-bg-color{
  background-color: #ff0066;
}

.search-box{
  padding: 20px;
}

.search-text-box:focus{
  border-color: #fa91a2;
}

.search-btn:hover .fa-heart{
  color: #ff0066!important;
}

.login_signup a:hover{
  color: #fff;
  text-decoration: underline;
}


.cust a:hover{
  color: #fff;
  text-decoration: underline;

}

/*centered nav
*/

.navbar-nav {
  width: 100%;
  text-align: center;
  background-color: transparent!important;
}
.navbar-nav > li {
  float: none;
  display: inline-block;
}
.navbar-nav > li:not(.last) {
  margin-right: 88px;
}

.navbar-inverse{
  background-color: white;
  border-style: none;
}

.navbar-toggle{
  border-color: gray!important;
}

nav{
  border-style: none;
}
/*centered nav
*/
nav a{
  background-color: #fff!important;
  color: #404040!important;
}
li a:hover{
  background-color: #ffcece!important;
}

nav li>a {
  font-size: 18px;
  font-weight: bold;
}

.navbar-nav>li:hover .dropdown-menu{
  display: block;
}


.navbar-inverse .navbar-toggle{
  border-color: #fa91a2!important;
  background-color: #fa91a2!important;
}


.navbar-inverse .navbar-toggle:focus, .navbar-inverse .navbar-toggle:hover{
  background-color: #ffcece!important;
}

.dropdown-menu{
  background-color: rgba(250, 145, 162,0.9)!important;
}
.dropdown-menu a{
  background-color: transparent!important;
  font-weight: bold;
  color: white!important;
}

/*banner*/
.banner-container{
  position: relative;
}
.banner-text{
  position: absolute;
  font-size: 21px;
  background-color: rgba(0,0,0,0.7);
  color: #fff;
  top: 40%;
  right: 10%;
  padding:16px;
}

.banner-text-package{
  position: absolute;
  font-size: 18px;
  background-color: rgba(0,0,0,0.7);
  color: #fff;
  top: 2%;
  right: 2%;
  padding:16px;
}


.promotion{
  text-align: center;
  font-size: 18px; /** can delete-- just for feeling look good*/
}

.promotion-card{
  background-color: #ff0066;
  margin: 5px;
  padding: 16px;
  color: #fff;
}

.promotion-card-out{
  margin-top: 10px;
  border: 2px solid #ff0066;
}
.promotion-card-out-small
{
  padding: 0;
}
.about{
  padding-left: 50px;
  font-size: 15px;
}

.contact{
  font-size: 15px;
}

.fa{
  margin: 16px;
}

.color_square{
  width: 30px;
  height:30px;
  margin: 10px;
}

.suit_select>option{
  padding: 4px;
}

.cards_view{
  margin: 16px;
  position: relative;
}

.pagina_active{
  background-color: #fa91a2!important;
}

.cake_submenu{
  width: 50%;
}

.cake_submenu ul{
  list-style: none;
  padding-left: 0px;
  border: 1px solid gray;
}


.cake_submenu>ul li{
  padding: 10px;
  text-align: left;
}







.banner-text{
  position: absolute;
  font-size: 20px;
  background-color: rgba(0,0,0,0.7);
  color: #fff;
  top: 20%;
  right: 20%;
  padding:16px;
}


}

.sub_nav a:hover{
  background-color: #fff!important;
}

/* card horizontal scroll
*/
 
 #owl-demo .item{
  margin: 16px;
}
#owl-demo .item img{
  display: block;
  width: 100%;
  height: auto;
}


 #owl-demo1 .item{
  margin: 16px;
}
#owl-demo1 .item img{
  display: block;
  width: 100%;
  height: auto;
}



 #owl-demo2 .item{
  margin: 16px;
}
#owl-demo2 .item img{
  display: block;
  width: 100%;
  height: auto;
}



/**form**/


#playground-container {
    height: 500px;
    overflow: hidden !important;
    -webkit-overflow-scrolling: touch;
}
.main{
  margin:50px 15px;
}

h1.title { 
  font-size: 50px;
  font-family: 'Passion One', cursive; 
  font-weight: 400; 
}
.form-group{
  margin-bottom: 15px;
}

label{
  margin-bottom: 15px;
}

input,
input::-webkit-input-placeholder {
    font-size: 11px;
    padding-top: 3px;
}

.main-login{
  background-color: #fff;
    /* shadows and rounded borders */
    -moz-border-radius: 2px;
    -webkit-border-radius: 2px;
    border-radius: 2px;
   

}
.form-control {
    height: auto!important;
padding: 8px 12px !important;
}
.input-group {
    -webkit-box-shadow: 0px 2px 5px 0px rgba(0,0,0,0.21)!important;
    -moz-box-shadow: 0px 2px 5px 0px rgba(0,0,0,0.21)!important;
    box-shadow: 0px 2px 5px 0px rgba(0,0,0,0.21)!important;
}
#button {
    border: 1px solid #ccc;
    margin-top: 28px;
    padding: 6px 12px;
    color: #666;
    text-shadow: 0 1px #fff;
    cursor: pointer;
    -moz-border-radius: 3px 3px;
    -webkit-border-radius: 3px 3px;
    border-radius: 3px 3px;
    
    background: -moz-linear-gradient(top, #f5f5f5 0%, #eeeeee 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #f5f5f5), color-stop(100%, #eeeeee));
    background: -webkit-linear-gradient(top, #f5f5f5 0%, #eeeeee 100%);
    background: -o-linear-gradient(top, #f5f5f5 0%, #eeeeee 100%);
    background: -ms-linear-gradient(top, #f5f5f5 0%, #eeeeee 100%);
    background: linear-gradient(top, #f5f5f5 0%, #eeeeee 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#f5f5f5', endColorstr='#eeeeee', GradientType=0);
}
.main-center{
  margin-top: 30px;
  margin: 0 auto;
  max-width: 400px;
  padding: 10px 40px;
  text-shadow: none;

}
span.input-group-addon i {
    color: #009edf;
    font-size: 17px;
}

.login-button{
  margin-top: 5px;
}

.login-register{
  font-size: 11px;
  text-align: center;
}

.shadow{
  box-shadow: 0 4px 8px 0 rgba(250, 145, 162, 0.2), 0 6px 20px 0 rgba(250, 145, 162, 0.25);
}



/*home package slodes*/
/* Slideshow container */
.slideshow-container {
  max-width: 1000px;
  position: relative;
  margin: auto;
}

/* Next & previous buttons */
.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  padding: 10px;
  margin-top: -22px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 3px 3px 3px;
}

.prev {
  border-radius: 3px 3px 3px 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover, .next:hover {
  background-color: rgba(0,0,0,0.2);
}

/* Caption text */
.text {
  color: #f2f2f2;
  font-size: 15px;
  padding: 8px 12px;
  position: absolute;
  bottom: 8px;
  width: 100%;
  text-align: center;
}

/* Number text (1/3 etc) */
.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

/* The dots/bullets/indicators */
.dot1, .dot2, .dot3 {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;

}
/*
.active, .dot:hover {
  background-color: #717171;
}
*/
/* Fading animation
.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}

@-webkit-keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}

@keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}
 */

/* On smaller screens, decrease text size */
@media only screen and (max-width: 300px) {
  .prev, .next,.text {font-size: 11px}
}

.padding_0_margin{
  padding: 0!important;
  margin:16px;
  background-color: #fff;
}

.owl-carousel-arrows{
  margin-top: 25px;
}

._next, ._next1, ._next2, ._prev, ._prev1, ._prev2{
  height: 120px;
  padding-top: 50px;
}

.home_cake{
  margin-top:10px;
  font-size: 16px
}

.w3-display-bottommiddle{
  background-color: rgba(0,0,0,0.5);
  width: 100%;
  text-align: center;
  color: #fff;
  padding: 16px;
  margin-bottom: -5px; 
  font-weight: bold;
  font-size: 18px;
}


.home_watch_btn{
  background-color: #fff!important;
  border: 1px solid #f1f1f1;
  color: #fa91a2;
  font-size: 15px;
  font-weight: bold;
}

.home_watch_btn:hover{
  background-color: #fa91a2!important;
  color: #fff;
  border: 1px solid #fff;

}

.breadcrumb li:hover a{
  background-color: transparent!important;
}

/*review*/
.like_reply{
  margin-left: 16px;
}

.total-cart{
  border: 1px solid #f1f1f1;
  background-color:rgba(255,255,255,0.6);
}


.edit_remove{
  text-decoration: underline;
  margin-left: 5px;
}

.total-cart td{
  padding: 10px;
}

@media only screen and (min-width: 630px) {    
  .promotion-small-left{
          padding-right: 5px;
  }

  .promotion-small-right{
    padding-left: 5px;
  }


  .home_cake{
    margin-top: 150px;
    margin-left: -30px;
    font-size: 20px
  }

}

#addFav_container:hover{
  cursor: pointer;
}


.go_detail:hover{
  text-decoration: none!important;

}

.choice_middle{
  float: right;
}

@media only screen and (max-width: 630px) {

    .navbar-nav>li:hover{
      font-size: 18px!important;

    }

    nav li {
      margin-left: 21px;
      width: 100%!important;
    }

    .navbar-header{
      display: inline-block;
      position: absolute;
      top: -68px;
      right: 10px;
    }

    .choice_middle{
      float: none!important;
    }


}
